* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
@font-face {
  font-family: Montserrat;
  src: url(/Montserrat-VariableFont_wght.ttf);
}
.videoLink{
  background-color: blue;
  transition: all ease-out 0.3s;
}
.videoLink:hover{
  background-color: #0d50be;
}
.sidebar ::-webkit-scrollbar {
  width: 0.1px;
  background-color: #0B57D0;
}
.sidebar ::-webkit-scrollbar-thumb {
  background: #093f96 ;
  border-radius: 10px;
  display: none;
}
.sideNav {
  font-size: 15px;
  background-color: #0B57D0;
}
.sideNavMobile {
  font-size: 15px;
  background-color: transparent;
  color: #fff !important;
  border-radius: 7px;
}
.sideNavMobile2 {
  font-size: 15px;
  color: #fff !important;
  border-radius: 7px;
  background-color: transparent;
}
.document{
 transition: all ease 0.4s;
  }
.document:hover{
background-color: lightgray;
}
.sideNav2 {
  font-size: 15px;
  background-color: #0a49ae
}
.active {
  background-color: #18344F
}
.noBorder{
  border: none !important;
}
.ps-menu-button:hover{
background: #c6c6c6;
}
.file-input-wrapper {
  position: relative;
  display: inline-block;
}

.file-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.file-input-label {
  display: inline-block;
  width: 550px;
  height: 250px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  background-image: url('/input.png');
  background-size: 100% 100%;
  transition: all ease 0.4s;
  background-color: #e4f0f9;

}
.file-input-label:hover{
  background-color:#a6c6df ;
}





.pl { 
  width: 8em; 
  height: 8em; 
  } 
  .pl circle { 
  transform-box: fill-box; 
  transform-origin: 50% 50%; 
  } 
  .pl__ring1 { 
  animation: ring1 4s 0s ease-in-out infinite; 
  } 
  .pl__ring2 { 
  animation: ring2 4s 0.04s ease-in-out infinite; 
  } 
  .pl__ring3 { 
  animation: ring3 4s 0.08s ease-in-out infinite; 
  } 
  .pl__ring4 { 
  animation: ring4 4s 0.12s ease-in-out infinite; 
  } 
  .pl__ring5 { 
  animation: ring5 4s 0.16s ease-in-out infinite; 
  } 
  .pl__ring6 { 
  animation: ring6 4s 0.2s ease-in-out infinite; 
  } 

  /* Animations */ 
  @keyframes ring1 { 
  from { 
  stroke-dashoffset: -376.237129776; 
  transform: rotate(-0.25turn); 
  animation-timing-function: ease-in; 
  } 
  23% { 
  stroke-dashoffset: -94.247778; 
  transform: rotate(1turn); 
  animation-timing-function: ease-out; 
  } 
  46%, 
  50% { 
  stroke-dashoffset: -376.237129776; 
  transform: rotate(2.25turn); 
  animation-timing-function: ease-in; 
  } 
  73% { 
  stroke-dashoffset: -94.247778; 
  transform: rotate(3.5turn); 
  animation-timing-function: ease-out; 
  } 
  96%, 
  to { 
  stroke-dashoffset: -376.237129776; 
  transform: rotate(4.75turn); 
  } 
  } 
  @keyframes ring2 { 
  from { 
  stroke-dashoffset: -329.207488554; 
  transform: rotate(-0.25turn); 
  animation-timing-function: ease-in; 
  } 
  23% { 
  stroke-dashoffset: -82.46680575; 
  transform: rotate(1turn); 
  animation-timing-function: ease-out; 
  } 
  46%, 
  50% { 
  stroke-dashoffset: -329.207488554; 
  transform: rotate(2.25turn); 
  animation-timing-function: ease-in; 
  } 
  73% { 
  stroke-dashoffset: -82.46680575; 
  transform: rotate(3.5turn); 
  animation-timing-function: ease-out; 
  } 
  96%, 
  to { 
  stroke-dashoffset: -329.207488554; 
  transform: rotate(4.75turn); 
  } 
  } 
  @keyframes ring3 { 
  from { 
  stroke-dashoffset: -288.4484661616; 
  transform: rotate(-0.25turn); 
  animation-timing-function: ease-in; 
  } 
  23% { 
  stroke-dashoffset: -72.2566298; 
  transform: rotate(1turn); 
  animation-timing-function: ease-out; 
  } 
  46%, 
  50% { 
  stroke-dashoffset: -288.4484661616; 
  transform: rotate(2.25turn); 
  animation-timing-function: ease-in; 
  } 
  73% { 
  stroke-dashoffset: -72.2566298; 
  transform: rotate(3.5turn); 
  animation-timing-function: ease-out; 
  } 
  96%, 
  to { 
  stroke-dashoffset: -288.4484661616; 
  transform: rotate(4.75turn); 
  } 
  } 
  @keyframes ring4 { 
  from { 
  stroke-dashoffset: -253.9600625988; 
  transform: rotate(-0.25turn); 
  animation-timing-function: ease-in; 
  } 
  23% { 
  stroke-dashoffset: -63.61725015; 
  transform: rotate(1turn); 
  animation-timing-function: ease-out; 
  } 
  46%, 
  50% { 
  stroke-dashoffset: -253.9600625988; 
  transform: rotate(2.25turn); 
  animation-timing-function: ease-in; 
  } 
  73% { 
  stroke-dashoffset: -63.61725015; 
  transform: rotate(3.5turn); 
  animation-timing-function: ease-out; 
  } 
  96%, 
  to { 
  stroke-dashoffset: -253.9600625988; 
  transform: rotate(4.75turn); 
  } 
  } 
  @keyframes ring5 { 
  from { 
  stroke-dashoffset: -225.7422778656; 
  transform: rotate(-0.25turn); 
  animation-timing-function: ease-in; 
  } 
  23% { 
  stroke-dashoffset: -56.5486668; 
  transform: rotate(1turn); 
  animation-timing-function: ease-out; 
  } 
  46%, 
  50% { 
  stroke-dashoffset: -225.7422778656; 
  transform: rotate(2.25turn); 
  animation-timing-function: ease-in; 
  } 
  73% { 
  stroke-dashoffset: -56.5486668; 
  transform: rotate(3.5turn); 
  animation-timing-function: ease-out; 
  } 
  96%, 
  to { 
  stroke-dashoffset: -225.7422778656; 
  transform: rotate(4.75turn); 
  } 
  } 
  @keyframes ring6 { 
  from { 
  stroke-dashoffset: -203.795111962; 
  transform: rotate(-0.25turn); 
  animation-timing-function: ease-in; 
  } 
  23% { 
  stroke-dashoffset: -51.05087975; 
  transform: rotate(1turn); 
  animation-timing-function: ease-out; 
  } 
  46%, 
  50% { 
  stroke-dashoffset: -203.795111962; 
  transform: rotate(2.25turn); 
  animation-timing-function: ease-in; 
  } 
  73% { 
  stroke-dashoffset: -51.05087975; 
  transform: rotate(3.5turn); 
  animation-timing-function: ease-out; 
  } 
  96%, 
  to { 
  stroke-dashoffset: -203.795111962; 
  transform: rotate(4.75turn); 
  } 
  } 